.header {
    height: 64px;
    background-color: black;
    background: linear-gradient(270deg, #F6F1F3 0%, rgba(241, 243, 245, 0.55) 50%, rgba(211, 255, 0, 0.29) 100%);
    background: linear-gradient(270deg, color(display-p3 0.9608 0.9451 0.9542) 0%, color(display-p3 0.9451 0.9529 0.9608 / 0.55) 50%, color(display-p3 0.8627 1 0.2314 / 0.29) 100%);
}

.button-container-parent {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 64px;
}

.button-container {
    
    margin-right: 80px;
   
}

.button {
    color: #181818;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 32px;
    border-radius: 75px;
    border: 1px solid #E7ECEF;
}

/* section 2 of header */

.section-header {
    margin: 30px 80px;
    display: flex;
    justify-content: space-between;
}

/* list items */

.list-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

.list-items .li {
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* .list-items li:hover {
    cursor: pointer;
  
    box-shadow: inset 0 -4px 0 0 #DCFF3B;
} */

.list-items .li::after {

    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #DCFF3B;
    transition: width .3s;
    margin-top: 5px;
}

.list-items .li:hover::after {
    width: 100%;
    transition: width .3s;
}

.list-item-button {
    padding: 9px 24px;
    background-color: #DCFF3B;
    border-radius: 75px;
}
